<header class="header-main">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/">
          <img src="../assets/images/247_ai_Logo.png" alt="logo">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/products"><img src="../assets/images/product.svg" alt="product">Products</a></li>
          <li><a routerLink="/tools"><img src="../assets/images/tools.svg" alt="logo">Tools</a></li>
          <li><a routerLink="/user"><img src="../assets/images/user (2).svg" alt="logo">Users</a></li>
          <li><a routerLink="/help"><img src="../assets/images/question.svg" alt="logo">Help</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>