/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "HelveticaNeuBold";
    src: url(./assets/fonts/HelveticaNeuBold.ttf) format("truetype");
}
@font-face {
    font-family: "HelveticaNeueBd";
    src: url(./assets/fonts/HelveticaNeueBd.ttf) format("truetype");
}
@font-face {
    font-family: "HelveticaNeueMedium";
    src: url(./assets/fonts/HelveticaNeueMedium.ttf) format("truetype");
}